<h2>Simple, Powerful Todo Lists</h2>
<ul id="features">
  <li>
    <h3>Memorable urls</h3>
	<%= image_tag "feature_url.png", :class => "right" %>
	<p>Use any name you like!</p>
  </li>
  <li>
    <h3>Hashtags</h3>
	<%= image_tag "feature_links.png", :class => :right %>
	<p>Create links to other lists using hashtags!</p>
  </li>
  <li>
    <h3>Social sharing</h3>
	<%= image_tag "share.png", :class=> :right %>
	<p>Collaborate with your friends.</p>
	<p>Post to Twitter, Facebook, and more!</p>
  </li>
  <li>
    <h3>Mobile Support</h3>
	<%= image_tag "Android.png", :class => :right %>
	<%= image_tag "iPhone.png", :class => :right %>
	<p>Visit <%= link_to "Fluttr", request.env["HTTP_HOST"] %> on your phone for a mobile version</p>
  </li>
  <li>
	<h3>Post via SMS</h3>
	<p>Coming soon!</p>
	<p style="color:#BBB;">Send a text to +14155992671 with the message:</p> 
	<p style="color:#BBB;">"4576-2749 test: Hello!" to try out the preview</p>
  </li>
</ul>

<h3 class="center"><%= link_to "Get Started!", root_path %></h3>
