<h2>Simple, Powerful Todo Lists</h2>
<ul id="features">
  <li>
    <h3>Memorable urls</h3>
	<%= image_tag "feature_url.png", :class => "right" %>
	<p>Use any name you like!</p>
  </li>
  <li>
    <h3>Hashtags</h3>
	<%= image_tag "feature_links.png", :class => :right %>
	<p>Create links to other lists using hashtags!</p>
  </li>
  <li>
    <h3>Social sharing</h3>
	<%= image_tag "share.png", :class=> :right %>
	<p>Collaborate with your friends.</p>
	<p>Post to Twitter, Facebook, and more!</p>
  </li>
  <li>
    <h3>Mobile Support</h3>
	<%= image_tag "Android.png", :class => :right %>
	<%= image_tag "iPhone.png", :class => :right %>
	<p>Visit <%= link_to "Fluttrly", "http://fluttrly.com" %> on your phone for a mobile version</p>
  </li>
  <li>
	<h3>Text/SMS Features</h3>
	<p>Send a texts to +14155992671.</p> 
	<ul>
	  <li>"4576-2749 test: Hello!" will add "Hello!" to the "test" list</li>
	  <li>"4576-2749 test: incomplete" will text you all the incomplete items from the "test" list</li>
	</ul>
  </li>
</ul>

<h3 class="center"><%= link_to "Get Started!", root_path %></h3>
