  <div id="lock" class="right">
    <% if @list.nil? or not @list.user_id %>
      <%= link_to "Lock", "#{request.url}/lock", :method => :post %>
    <% else %>
      <%= link_to "Unlock", "#{request.url}/lock", :method => :post %>
    <% end %>
  </div>
  <h2>
    <%= params[:name] %>
  </h2>

  <%= render 'form' %>

  <p id="errors"><%= params[:errors] %></p>

  <ul id="tasks">
    <%= render :partial => 'task', :collection => @tasks %>
  </ul>
  <%= @test %>
